html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;;
}

/* MOBILE */

.bg {
    background: url(../images/pattern-background-mobile.svg) no-repeat;
    height: 100vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-card {
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: 1.2fr 3fr;
    height: 550px;
    width: 320px;
    box-shadow: 5px 10px 15px var(--desatured-blue);
    border-radius: 10px;
}

.header {
    grid-area: header;
    background: url(../images/illustration-hero.svg) center center no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.main {
    grid-area: main;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25px;
}

.main .title {
    font-size: 2.2rem;
}

.main .description {
    line-height: 2.5rem;
    text-align: center;
}

.main .plan-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--very-pale-blue);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.main .plan-container .title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.main .plan-container .price {
    font-size: 1.5rem;
}

.main .plan-container .btn-change {
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--bridht-blue);
    text-decoration: underline;
}

.main .btn-payment {
    background-color: var(--bridht-blue);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 1px 1px 10px var(--desatured-blue);
}

.main .btn-cancel {
    color: var(--desatured-blue);
    font-weight: 700;
    font-size: 1.5rem;
}

@media (min-width: 375px) {

}


/* ATTRIBUTION */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }