html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

@media (min-width: 375px) {

}


/* ATTRIBUTION */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }